// Colors
$primary-color: #111111;
$secondary-color:#EEEEEE;
$accent-color: #00B533;
$accent-color-2:#2B6DD1;
$accent-color-2-hover:#5288da;
$secondary-color-hover:#bbb;

//shape 
$border-radius:20px;

//screenSize

//text font 
$primary-text-font: 'Inter';


